.rn-divider {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.rn-divider-top {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.rn-divider-left {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}
.rn-divider-right {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}
.rn-divider-all {
  border: 1px solid rgba(0, 0, 0, 0.1);
}
hr.rn-divider {
  margin: 0;
  height: 1px;
  border: none;
  background-color: rgba(0, 0, 0, 0.12);
  width: 100%;
}
/* 公用 */
*,
:after,
:before {
  box-sizing: border-box;
}
html {
  font-size: 20px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  font-family: 'Helvetica Neue', Helvetica, 'Microsoft Yahei', 'PingFang SC', 'Hiragino Sans GB', 'WenQuanYi Micro Hei', sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #353535;
  background-color: #efeff4;
}
a {
  color: #2171b8;
  text-decoration: none;
  -webkit-transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1);
  -o-transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1);
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1);
}
p {
  margin-bottom: 5px;
}
.strong {
  font-weight: 700;
}
.hide {
  display: none;
}
.hidden {
  display: none!important;
  visibility: hidden !important;
}
.show {
  display: block!important;
  visibility: visible !important;
}
.invisible {
  visibility: hidden;
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}
.text-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.text-ellipsis-2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 14px;
  border-left: 5px solid #e5e5e5;
}
.rn-shadow-0,
.rn-shadow-none {
  box-shadow: none;
}
.rn-shadow,
.rn-shadow-1 {
  box-shadow: rgba(0, 0, 0, 0.05) 0 1px 4px, rgba(0, 0, 0, 0.12) 0 1px 2px;
}
.rn-shadow-2 {
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 6px, rgba(0, 0, 0, 0.15) 0 1px 4px;
}
.rn-shadow-3 {
  box-shadow: rgba(0, 0, 0, 0.15) 0 3px 10px, rgba(0, 0, 0, 0.25) 0 3px 10px;
}
.rn-shadow-4 {
  box-shadow: rgba(0, 0, 0, 0.188235) 0 10px 30px, rgba(0, 0, 0, 0.227451) 0 6px 10px;
}
.space {
  margin-bottom: 20px !important;
}
.space-sm {
  margin-bottom: 13.33333333px !important;
}
.space-xs {
  margin-bottom: 6.66666667px !important;
}
.space-xl {
  margin-bottom: 40px !important;
}
.space-lg {
  margin-bottom: 30px !important;
}
.has-padding {
  padding: 20px !important;
}
.has-padding-sm {
  padding: 13.33333333px !important;
}
.has-padding-xs {
  padding: 6.66666667px !important;
}
.has-margin {
  margin: 20px !important;
}
.has-margin-sm {
  margin: 13.33333333px !important;
}
.has-margin-xs {
  margin: 6.66666667px !important;
}
.text-white {
  color: #fff;
}
.text-danger {
  color: #F00;
}
.text-primary {
  color: #2171b8;
}
.text-success {
  color: #1AAD19;
}
.text-brown {
  color: #BD7B46;
}
.text-warning {
  color: #f1a325;
}
.text-purple {
  color: #8666b8;
}
.text-info {
  color: #03b8cf;
}
.text-default {
  color: #353535;
}
.text-gray {
  color: #808080;
}
.text-muted {
  color: #f2f2f2;
}
.bg-white {
  background-color: #fff;
}
.bg-danger {
  background-color: #F00 !important;
  border-color: #F00 !important;
  color: #fff !important;
}
.bg-danger.hover:hover,
.bg-danger.click:active,
.bg-danger[type=button]:enabled:active,
.bg-danger[type=submit]:enabled:active {
  background-color: #990000 !important;
}
.bg-primary {
  background-color: #2171b8 !important;
  border-color: #2171b8 !important;
  color: #fff !important;
}
.bg-primary.hover:hover,
.bg-primary.click:active,
.bg-primary[type=button]:enabled:active,
.bg-primary[type=submit]:enabled:active {
  background-color: #113c62 !important;
}
.bg-success {
  background-color: #1AAD19 !important;
  border-color: #1AAD19 !important;
  color: #fff !important;
}
.bg-success.hover:hover,
.bg-success.click:active,
.bg-success[type=button]:enabled:active,
.bg-success[type=submit]:enabled:active {
  background-color: #0d540c !important;
}
.bg-brown {
  background-color: #BD7B46 !important;
  border-color: #BD7B46 !important;
  color: #fff !important;
}
.bg-brown.hover:hover,
.bg-brown.click:active,
.bg-brown[type=button]:enabled:active,
.bg-brown[type=submit]:enabled:active {
  background-color: #744a29 !important;
}
.bg-warning {
  background-color: #f1a325 !important;
  border-color: #f1a325 !important;
  color: #fff !important;
}
.bg-warning.hover:hover,
.bg-warning.click:active,
.bg-warning[type=button]:enabled:active,
.bg-warning[type=submit]:enabled:active {
  background-color: #a56a0b !important;
}
.bg-purple {
  background-color: #8666b8 !important;
  border-color: #8666b8 !important;
  color: #fff !important;
}
.bg-purple.hover:hover,
.bg-purple.click:active,
.bg-purple[type=button]:enabled:active,
.bg-purple[type=submit]:enabled:active {
  background-color: #553a7e !important;
}
.bg-info {
  background-color: #03b8cf !important;
  border-color: #03b8cf !important;
  color: #fff !important;
}
.bg-info.hover:hover,
.bg-info.click:active,
.bg-info[type=button]:enabled:active,
.bg-info[type=submit]:enabled:active {
  background-color: #025f6a !important;
}
.bg-gray {
  background-color: #808080 !important;
  border-color: #808080 !important;
  color: #fff !important;
}
.bg-gray.hover:hover,
.bg-gray.click:active,
.bg-gray[type=button]:enabled:active,
.bg-gray[type=submit]:enabled:active {
  background-color: #4d4d4d !important;
}
.bg-muted {
  background-color: #f2f2f2;
}
[button]:enabled:active {
  background-color: #1AAD19 !important;
}
.layer {
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.15) 0 3px 10px, rgba(0, 0, 0, 0.25) 0 3px 10px;
}
.section {
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.05) 0 1px 4px, rgba(0, 0, 0, 0.12) 0 1px 2px;
  margin-bottom: 13.33333333px;
}
.center-block {
  display: block;
  margin-left: auto!important;
  margin-right: auto!important;
}
.callout {
  padding: 3px 5px;
  border: 1px solid #eee;
  border-left-width: 3px;
  border-radius: 3px;
}
.callout-primay {
  border-left-color: #2171b8;
}
.font-small {
  font-size: 12px !important;
}
.font-default {
  font-size: 14px !important;
}
.font-large {
  font-size: 16px !important;
}
.card-goods-item {
  position: relative;
}
.card-goods-item.check-box {
  overflow: hidden;
  -webkit-user-select: none;
  user-select: none;
}
.card-goods-item.check-box.mui-checkbox.mui-left input[type=checkbox],
.card-goods-item.check-box.mui-checkbox.mui-left .mui-radio.mui-left input[type=radio] {
  top: 50%;
  left: 10px;
  z-index: 1;
  position: absolute;
  margin-top: -15px;
}
.card-goods-item .card-checkbox-label {
  width: 100%;
  padding: 0 10px 0 15px;
  box-sizing: border-box;
  margin-left: 10px;
  display: inline-block;
  vertical-align: middle;
  line-height: 20px;
}
.card-goods-item::before {
  height: 0;
}
.card-goods-item::after {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 15px;
  height: 1px;
  content: '';
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
  background-color: #c8c7cc;
}
.card-goods-item:last-child:after,
.card-goods-item:last-child:before {
  height: 0;
}
.rn-card {
  color: #333;
  height: 100px;
  font-size: 16px;
  background: #fff;
  position: relative;
  box-sizing: border-box;
  padding: 5px 15px 5px 115px;
}
.rn-card.active {
  background-color: #f2f2f2 !important;
}
.rn-card:after {
  position: absolute;
  right: 2px;
  bottom: 0;
  left: 2px;
  height: 1px;
  content: '';
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
  background-color: #c8c7cc;
}
.rn-card:last-child:after,
.rn-card:last-child:before {
  height: 0;
}
.rn-card .rn-card-center,
.rn-card .rn-card-thumb {
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.rn-card .rn-card-thumb {
  top: 5px;
  left: 15px;
  width: 80px;
  height: 80px;
  position: absolute;
}
.rn-card .rn-card-thumb img {
  border: none;
  max-width: 100%;
  max-height: 100%;
}
.rn-card .rn-card,
.rn-card .rn-card-thumb,
.rn-card .rn-card-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
}
.rn-card .rn-card-content {
  width: 100%;
  padding-top: 10px;
}
.rn-card .rn-card-title,
.rn-card .rn-card-desc {
  line-height: 20px;
  word-break: break-all;
}
.rn-card .rn-card-num {
  color: #666;
  font-size: 12px;
}
.rn-card .rn-card-title {
  max-height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.rn-card .rn-card-price,
.rn-card .rn-card-num {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  min-width: 80px;
  line-height: 20px;
  text-align: right;
}
.rn-card .rn-card-price {
  font-size: 0.75rem;
  color: #2171b8;
  font-weight: 600;
}
.rn-card .rn-card-title,
.rn-card .rn-card-desc {
  line-height: 20px;
  word-break: break-all;
}
.rn-card .rn-card-desc {
  color: #808080;
  font-size: 12px;
  max-height: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.rn-card .rn-card-footer {
  right: 15px;
  bottom: 20px;
  position: absolute;
}
.rn-card-vertical {
  background-color: #fff;
  position: relative;
  border-radius: 2px;
  -webkit-box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
}
.rn-card-vertical .rn-card-header {
  padding: 16px;
  font-weight: 500;
  position: relative;
  white-space: nowrap;
}
.rn-card-vertical .rn-card-media {
  position: relative;
}
.rn-card-vertical .rn-card-media .rn-card-media-title {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 16px;
  background-color: rgba(0, 0, 0, 0.54);
}
.rn-card-vertical .rn-card-media .rn-card-media-title .rn-card-title {
  font-size: 24px;
  color: rgba(255, 255, 255, 0.87);
  line-height: 36px;
}
.rn-card-vertical .rn-card-media .rn-card-media-title .rn-card-media-title .rn-card-sub-title {
  color: rgba(255, 255, 255, 0.54);
  font-size: 14px;
}
.rn-card-vertical .rn-card-media:after {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 1px;
  content: '';
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
  background-color: #c8c7cc;
}
.rn-card-vertical .rn-card-media > img {
  width: 100%;
  max-width: 100%;
  height: 100px;
  min-width: 100%;
  display: block;
  vertical-align: top;
}
.rn-card-vertical .rn-card-text {
  padding: 5px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.87);
}
.tag {
  display: inline-block;
  /*line-height: 14px;*/
  padding: 1px 5px;
  border-radius: 2px;
  position: relative;
  font-size: 14px;
  background: #fff;
  color: #353535 !important;
}
.tag::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 200%;
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  pointer-events: none;
  box-sizing: border-box;
  border: 1px solid #e5e5e5;
}
.tag::after {
  border-color: currentColor;
  border-radius: 4px;
}
.tag.tag-large {
  font-size: 0.7rem;
  padding: 3px 5px;
}
.tag.tag-mark {
  border-radius: 0 8px 8px 0;
}
.tag.tag-mark::after {
  border-radius: 0 16px 16px 0;
}
.tag.tag-success {
  background-color: #1AAD19 !important;
  border-color: #1AAD19 !important;
  color: #fff !important;
}
.tag.tag-success.hover:hover,
.tag.tag-success.click:active,
.tag.tag-success[type=button]:enabled:active,
.tag.tag-success[type=submit]:enabled:active {
  background-color: #0d540c !important;
}
.tag.tag-success.tag-plain {
  color: #1AAD19 !important;
}
.tag.tag-danger {
  background-color: #F00 !important;
  border-color: #F00 !important;
  color: #fff !important;
}
.tag.tag-danger.hover:hover,
.tag.tag-danger.click:active,
.tag.tag-danger[type=button]:enabled:active,
.tag.tag-danger[type=submit]:enabled:active {
  background-color: #990000 !important;
}
.tag.tag-danger.tag-plain {
  color: #F00 !important;
}
.tag.tag-primary {
  background-color: #2171b8 !important;
  border-color: #2171b8 !important;
  color: #fff !important;
}
.tag.tag-primary.hover:hover,
.tag.tag-primary.click:active,
.tag.tag-primary[type=button]:enabled:active,
.tag.tag-primary[type=submit]:enabled:active {
  background-color: #113c62 !important;
}
.tag.tag-primary.tag-plain {
  color: #2171b8 !important;
}
.tag.tag-brown {
  background-color: #BD7B46 !important;
  border-color: #BD7B46 !important;
  color: #fff !important;
}
.tag.tag-brown.hover:hover,
.tag.tag-brown.click:active,
.tag.tag-brown[type=button]:enabled:active,
.tag.tag-brown[type=submit]:enabled:active {
  background-color: #744a29 !important;
}
.tag.tag-brown.tag-plain {
  color: #BD7B46 !important;
}
.tag.tag-plain {
  background: #fff !important;
  color: #fff;
}
.rn-avatar {
  display: inline-block;
  height: 40px;
  width: 40px;
  font-size: 20px;
  color: #fff;
  background-color: #bdbdbd;
  text-align: center;
  border-radius: 50%;
}
.rn-avatar .rn-avatar-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
